*

# General
!.github/
!/.gitignore
!.gitkeep

!README.md
!LICENSE

# Configs
!config/prod.yaml
!config/*.example.yaml

# Go
!*.go
!go.mod
!go.sum

# Docker
!Dockerfile

# Folders
!deployment/**
!helm/**

# !Makefile

!*/
