*

# General
!.github/**
!/.gitignore
!.gitkeep

!README.md
!LICENSE

# Configs
!config/*.example.yaml

# Go
!*.go
!go.mod
!go.sum

# Docker
!.dockerignore
!Dockerfile

# Folders
!deployment/**
!helm/**
!migrations/
!tests/

# !Makefile

!*/
