# Config for `systemd`

[Unit]
Description=Authentication Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/auth
ExecStart=/root/apps/auth/auth --config=/root/apps/auth/config/prod.yaml
Restart=always
RestartSec=5
StandardOutput=inherit

[Install]
WantedBy=multi-user.target
